﻿
@model WebPlatform.ViewModels.Administration.UserRoleViewModel

@{
    Layout = null;
}

@using (Html.UI().Begin(new Container(ContainerType.Standard)))
{

    using (Html.UI().Begin(new RowBox()))
    {
        using (Html.UI().Begin(new ColBox().AddClass("text-center")))
        {
            using (Html.UI().Begin(new HBox(HeaderSize.H3)))
            {
                <span>
                    @Model.UserName
                </span>
            }
        }

    }

    using (Html.UI().Begin(new RowBox()))
    {
        if (!Model.Elements.Any())
        {
            using (Html.UI().Begin(new HBox(HeaderSize.H3)))
            {
                <span>
                    Brak dostępnych ról użytkowników
                </span>
            }
        }
        else
        {
            foreach (var item in Model.Elements)
            {
                using (Html.UI().Begin(new ColBox(12).AddClass("role-box text-center")))
                {
                    using (Html.UI().Begin(new RowBox()))
                    {
                        using (Html.UI().Begin(new ColBox(8)))
                        {
                            using (Html.UI().Begin(new ParagraphBox()))
                            {
                                @(item.RoleName)
                            }
                        }
                        using (Html.UI().Begin(new ColBox(4).AddClass("assign-unassign")))
                        {
                            if (item.IsAssigned)
                            {
                                using (Html.UI().Begin(new Box().AddClass("greenpoint assign-change")
                                    .AddData("user-guid", Model.UserGuid)
                                    .AddData("roleguid", item.RoleGuid))) { }
                            }
                            else
                            {
                                using (Html.UI().Begin(new Box().AddClass("greypoint assign-change")
                                    .AddData("user-guid", Model.UserGuid)
                                    .AddData("roleguid", item.RoleGuid))) { }

                            }

                        }
                    }
                }

            }
        }


    }
}

<script>

    $(document).ready(function(){

        (function () {

            $(".assign-change").click(function () {
                var roleguid = $(this).attr("data-roleguid");
                var userguid = $(this).attr("data-user-guid");
                //console.log(roleguid);
                //console.log(userguid);

                var values = {
                    'roleGuid': roleguid,
                    'userGuid': userguid
                };
                $.ajax({
                    url: "@(Url.Action("AssignChange", "UserRole", null))",
                    type: "POST",
                    data: values,
                    success: function (data) {
                        $("#wppopup .modal-body").html(data);
                    },
                    error: function () {
                        console.log("error");
                    }
                });


            });


        })();

    });

</script>