﻿

.wppopup .modal-content{
    border-radius:0;
}

.wppopup .modal-header{
    color:#fff;
    background-color:rgba(132, 144, 146, 0.90);
    border-radius:0;
    padding:0;
    vertical-align:middle;
    padding:0.25em;
}

    .wppopup .modal-header h5 {
        font-size: 0.9em;
        padding: 0.25em;
    }

    .wppopup .modal-header .close{
        color:#fff;
    }

    .wppopup .modal-header .close:hover {
        color: #ff0000;
    }