﻿
body {
    font-size: 0.8em;
    font-family: 'Arima Madurai', cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #abb2b5;
   overflow-x:hidden;
}

p{

}

    body.unlogged {
        /*background-color: rgba(63, 83, 88, 0.80);*/
        color: #abb2b5;
        background: linear-gradient(110deg, rgba(63, 83, 88, 0.80) 60%, rgba(86, 101, 104, 0.50) 60%);
    }

        body.unlogged .right-info {
            background-color: rgba(63, 83, 88, 0.80);
            padding: 1em;
        }

        body.unlogged .footer {
            height: 10%;
            position: absolute;
            top: 90%;
            left: 0;
            background-color: #212224;
            width: 100%;
        }

input.btn-default {
    font-size: 1em;
    color: inherit;
    padding: 0.1em 0.5em 0.1em;
    font-family: Geneva, Verdana, sans-serif;
    transition: all;
    transition-duration: 300ms;
    font-size: 0.8em;
    border: 1px solid #ced4da;
    border-radius: 0;
    background-color: white;
}

    input.btn-default:hover {
        color: #e2e8ea;
        background-color: rgba(63, 83, 88, 0.50);
        border: 1px solid #ced4da;
    }

a.btn-default {
    font-size: 1em;
    color: inherit;
    padding: 0.1em 0.5em 0.1em;
    font-family: Geneva, Verdana, sans-serif;
    transition: all;
    transition-duration: 300ms;
    font-size: 0.8em;
    border: 1px solid #5d7083;
    border-radius: 0;
    background-color: white;
}

    a.btn-default:hover {
        color: #e2e8ea;
        background-color: rgba(63, 83, 88, 0.50);
        border: 1px solid #e2e8ea;
    }

button.btn-default {
    font-size: 1em;
    color: inherit;
    padding: 0.1em 0.5em 0.1em;
    font-family: Geneva, Verdana, sans-serif;
    transition: all;
    transition-duration: 300ms;
    font-size: 0.8em;
    border: 1px solid #ced4da;
    border-radius: 0;
    background-color: white;
}

    button.btn-default:hover {
        color: #e2e8ea;
        background-color: rgba(63, 83, 88, 0.50);
        border: 1px solid #e2e8ea;
    }

#main-loader {
    background-image: url('/Images/126.gif');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    position: fixed;
    top: 45%;
    margin: 0 auto;
    z-index: 9999;
    display: none;
}

#main-overlay-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(57, 78, 86, 0.86);
    z-index: 9999;
    display: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.current {
    border: 1px solid #DDEFF1 !important;
}

.outer-wrapper {
    border: 1px solid rgba(57, 78, 86, 0.60);
    padding: 1em;
    background-color: #b5b9bd;
    border-radius: 1px;
    color: white;
}

    .outer-wrapper button {
        border-color: #5d7083;
    }


.table-caption .title-box {
    font-size: 1.2em;
    font-weight: 600;
}

.search-box {
    /*background-color: #fff;*/
    text-align: left;
    margin-bottom: 1em;
}

    .search-box input.search-input {
        color: rgba(57, 78, 86, 0.60);
        font-size: 0.7em;
        padding-left: 1em;
        width: 93%;
        height: 30px;
        position: relative;
        left: 0;
        border: none;
    }

a.search-button {
    width: 5%;
    height: 30px;
    position: relative;
    padding-left:1em;
    cursor:pointer;
}

    a.search-button i {
        color: rgba(57, 78, 86, 0.60);
        font-size: 1.8em;
        position: absolute;
        top: -1px;
    }

.btn-info.pager-button {
    background-color: rgba(57, 78, 86, 0.60) !important;
    color: #e2e8ea;
    margin: 0.5em;
    border-color:rgba(63, 83, 88, 0.80);
}

    .btn-info.pager-button.pager-add-button {
        margin-left: 1.5em;
        margin-right: 1.5em;
        background-color: rgba(23, 162, 184, 0.90) !important;
    }


    /*TABELA*/

    table .row{
        min-width:100px;
    }

table .row div{
    margin:0;
    padding:0;
}

table td a.btn-default {
    color: #b5b9bd;
}

table td button.btn-default {
    color: #b5b9bd;
}

td[data-title] a {
    text-decoration: none;
}

    td[data-title] a:hover {
        text-decoration: none;
    }

    td[data-title] a > i {
        color: #e2e8ea !important;
        display: block;
        font-size: 1em;
    }


#top-navbar {
    padding-left: 0;
    padding-right: 0;
    background-color: rgba(63, 83, 88, 0.80);
    color: #a7abb0;
    height: 30px;
    position: fixed;
    left: 80px;
    top: 0;
    width: 100%;
    z-index: 999;
}

#top-navbar-box {
    width: 100%;
    margin: 0px;
}

    #top-navbar-box a {
        color: white;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

/*accordion*/

.accordion {
}

.accordion-fix {
    width: 80px;
    height: 30px;
    margin: 0 !important;
    border-radius: 0 !important;
    z-index: 9999;
}

.accordion-fix-dummy {
    width: 80px;
    height: 30px;
    margin: 0 !important;
    border-radius: 0 !important;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(63, 83, 88, 0.80);
}

#ribbon-box {
    /*overflow:hidden;*/
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: transparent;
    padding: 0;
}

.accordion.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}

.accordion.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.accordion .ui-accordion .ui-accordion-icons {
    padding-left: 2.2em;
}

.accordion .ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 0 0 0 0;
    padding: .5em .5em .5em .7em;
    padding-left: 0.7em;
    min-height: 0;
    font-size: 100%;
}

.accordion .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}

.accordion .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}

.accordion .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active,
.ui-button:active, .ui-button.ui-state-active:hover {
    border: none;
    background: #000;
    font-weight: normal;
    color: #ffffff;
}

.accordion .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
    background: black;
    font-weight: normal;
    color: white;
}

.accordion .ui-accordion .ui-accordion-content {
    padding: 1em 2.2em;
    border-top: 0;
    overflow: auto;
}

.ui-widget-content {
    border: none;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    background-color: rgb(205, 212, 213);
    color: white;
    width: 100%;
}

#content-box {
    margin-top: 2em;
}

.ribbon-carousel-slick {
    visibility: collapse;
}

.ribbon-item-box {
}

.ribbon-item {
    width: 100%;
    background-color: white;
    cursor: pointer;
    margin-right: 50px;
}

.ribbon-item-img {
    background-image: url("/Images/Menu/ikona2.png"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

    .ribbon-item-img div {
        background-color: rgba(63, 83, 88, 0.80);
        color: #a7abb0;
        width: 100%;
    }

.ribbon-item-content {
    font-size: 0.8em;
    font-weight: 500;
    width: 100%;
}

    .ribbon-item-content ul {
        margin: 0;
        margin-left: 1em;
        padding: 0.1em;
        list-style: none;
    }

        .ribbon-item-content ul li {
            padding: 0.1em;
        }

            .ribbon-item-content ul li a {
                color: #393e4a;
                padding: 0.1em;
                text-decoration: none;
                font-weight: 600;
                transition: all;
                transition-duration: 600ms;
            }

                .ribbon-item-content ul li a:hover {
                    color: white;
                    background-color: #393e4a;
                }

            .ribbon-item-content ul li p {
                color: #393e4a;
                padding: 0.25em;
                margin-bottom: 0;
                font-weight: 600;
            }


.trigger-list {
}

.element-hidden {
    display: none;
}

.element-visible-block {
    display: block;
}


/*HVR Hover.css*/

.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 15px rgba(47, 102, 111, 0.80);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

    .hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
        box-shadow: 0 0 20px rgba(47, 102, 111, 0.80);
    }

#prevSlickArrow, #nextSlickArrow {
    display: inline;
}

    #prevSlickArrow i, #nextSlickArrow i {
        color: rgba(57, 78, 86, 0.90);
        font-size: 1.2em;
        transition: all;
        transition-duration: 300ms;
    }

        #prevSlickArrow i:hover, #nextSlickArrow i:hover {
            color: rgba(57, 78, 86, 0.50);
            font-size: 1.2em;
        }

#logged-footer {
    margin: auto;
    height: 100px;
    background-color: gray;
    color: white;
    width: 100%;
    
}

.form-header{
    
}

.form-error-box {
    color: #983535;
}

input.form-control {
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background:grey;
    color:white;
}

    input.form-control:focus {
        outline: none;
        border: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        background: grey;
        color: white;
    }

    .role-box{
        background-color:azure;
        font-size:2em;
        margin-bottom: 0.5em;
        padding: 10px;
    }

.greenpoint {
    width: 30px;
    height: 30px;
    background-color: lawngreen;
    border-radius: 50%;
    cursor: pointer;
}

.greypoint {
    width: 30px;
    height: 30px;
    background-color: grey ; 
    border-radius: 50%;
    cursor:pointer;
}

.role-box p {
    height: 30px;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
    font-size: 0.9em;
}

 .assign-unassign{
     text-align:center;
 }

.assign-unassign div {
    margin: 0 auto;
}