﻿@using WebPlatform.ViewModels.Administration
@model WebPlatform.ViewModels.Administration.ResourceViewModel

@{
    ViewBag.Title = "Lista zasobów";
    string editLink = "<a class='btn btn-default' href='/zasob-edycja/{0}'>Edycja</a>";
    string deleteLink = new PopupTrigger("#wppopup").Title("Usuń").Url("/zasob-usuwanie/{0}").ToString();
    string addRolesLink = new PopupTrigger("#wppopup").Title("Role").Url("/role-zasoby-dodawanie/{0}").ToString();
}



@using (Html.UI().Begin(new Container(ContainerType.Full)))
{
    using (Html.UI().Begin(new RowBox()))
    {
        using (Html.UI().Begin(new ColBox().AddClass("pr-0 pl-0")))
        {
            using (Html.UI().Begin(new RoutedLink(Url.RouteUrl("ResourceAdd")).AddClass("mb-1")))
            {
                <i class="fas fa-plus-square"></i>
                <span>Nowy zasób</span>
            }
        }
    }

}

@using (Html.UI().Begin(new Box().AddClass("container-fluid mb-4")))
{
    using (Html.UI().Begin(new RowBox()))
    {
        using (Html.UI().Begin(new ColBox().AddClass("text-center outer-wrapper")))
        {
            using (Html.UI().Begin(new Box().Id("tb1").AddClass("scrollbar-inner")))
            {

                using (Html.BeginForm(null, null, FormMethod.Get))
                {
                    @Html.HiddenFor(m => Model.Page);
                    @Html.HiddenFor(m => Model.PropertyName);
                    @Html.HiddenFor(m => Model.SortOrder);
                    @Html.HiddenFor(m => Model.Search);

                    @(Html.UI().StdTable<ResourceModel>(Model)
                            .Pagination()
                            .Id("test1")
                            .Title("Zasoby aplikacji")
                            .Column(m => m.Area, displayName: "Obszar")
                            .Column(m => m.Action, isSortable: true, displayName: "Akcja")
                            .Column(m => m.Controller, displayName: "Kontroler")
                            .Column(m => m.Description, displayName: "Nazwa")
                            .Column(m => m.DateCreated, displayName: "Data utworzenia", format: "{0:yyyy-MM-dd}", isSortable: true)
                            .Column(m => m.DateModified, displayName: "Data modyfikacji", format: "{0:yyyy-MM-dd}", isSortable: true)
                            .ForEachColumn(editLink, null, false, "Edycja", m => m.RowGuid)
                            .ForEachColumn(deleteLink, null, false, "Usuń", m => m.RowGuid)
                            .ForEachColumn(addRolesLink, null, false, "Uprawnienia", m => m.RowGuid)
                            .Sortable()
                            .Searchable("Obszar", "Akcja", "Kontroler"));

                };


            }
        }
    }
}




@using (Html.UI().Begin(new Container(ContainerType.Standard)))
{
    using (Html.UI().Begin(new RowBox()))
    {
        using (Html.UI().Begin(new ColBox()))
        {

            @(
                Html.UI().Popup()
                .Id("wppopup")
                .Title("Zasób")
                .Size(PopupSize.Small)
            )


        }
    }
}



