﻿@model WebPlatform.ViewModels.Administration.RoleViewModel


@{
    ViewBag.Title = "Formularz edycji roli";
}

@using (Html.UI().Begin(new Container(ContainerType.Standard)))
{
    using (Html.UI().Begin(new RowBox().AddClass("text-center")))
    {
        using (Html.UI().Begin(new ColBox(12).AddClass("pr-0 pl-0")))
        {
            using (Html.UI().Begin(new HBox(HeaderSize.H4)))
            {
                <i class="fas fa-user-plus"></i>
                <span>@ViewBag.Title</span>
            }
        }
    }

}



@using (Html.UI().Begin(new Container(ContainerType.Standard).AddClass("mb-4")))
{
    using (Html.UI().Begin(new RowBox()))
    {
        using (Html.UI().Begin(new ColBox(offset: 4, size: 4).AddClass("pr-0 pl-0")))
        {

            using (Html.BeginForm())
            {

                @Html.HiddenFor(m => m.AuthorId)
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.DateCreated)
                @Html.HiddenFor(m => m.RowGuid)
                @Html.HiddenFor(m => m.IsActive)
                @Html.HiddenFor(m => m.IsRemoved)

                @Html.AntiForgeryToken()

                using (Html.UI().Begin(new RowBox()))
                {
                    using (Html.UI().Begin(new ColBox(12).AddClass("form-error-box")))
                    {
                        @Html.ValidationSummary("")
                    }

                }

                using (Html.UI().Begin(new RowBox().AddClass("mt-3")))
                {
                    using (Html.UI().Begin(new ColBox(12)))
                    {
                        @Html.LabelFor(m => m.Name)
                    }
                    using (Html.UI().Begin(new ColBox(12)))
                    {
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-sm", autocomplete = "off" })
                    }
                    using (Html.UI().Begin(new ColBox(12).AddClass("form-error-box")))
                    {
                        @Html.ValidationMessageFor(m => m.Name)
                    }
                }

                using (Html.UI().Begin(new RowBox().AddClass("mt-3")))
                {
                    using (Html.UI().Begin(new ColBox(12)))
                    {
                        @Html.LabelFor(m => m.Description)
                    }
                    using (Html.UI().Begin(new ColBox(12)))
                    {
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control form-control-sm", autocomplete = "off" })
                    }
                    using (Html.UI().Begin(new ColBox(12).AddClass("form-error-box")))
                    {
                        @Html.ValidationMessageFor(m => m.Description)
                    }
                }

               

                


                using (Html.UI().Begin(new RowBox().AddClass("mt-3")))
                {
                    using (Html.UI().Begin(new ColBox(3)))
                    {
                        <input type="submit" value="Zapisz" class="btn btn-default" />
                    }

                    using (Html.UI().Begin(new ColBox(3)))
                    {
                        using (Html.UI().Begin(new RoutedLink(Url.RouteUrl("RoleList"))))
                        {
                            <i class="fas fa-th-list"></i>
                            <span>Powrót do listy</span>
                        }
                    }

                }


            }

        }
    }

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
