﻿@using WebPlatform.ViewModels.Administration
@model WebPlatform.ViewModels.Administration.RoleViewModel

@{
    ViewBag.Title = "Lista ról w aplikacji";
    string editLink = "<a class='btn btn-default' href='/rola-edycja/{0}'>Edycja</a>";
    string deleteLink = new PopupTrigger("#wppopup").Title("Usuń").Url("/rola-usuwanie/{0}").ToString();
}

@using (Html.UI().Begin(new Container(ContainerType.Full)))
{
    using (Html.UI().Begin(new RowBox()))
    {
        using (Html.UI().Begin(new ColBox().AddClass("pr-0 pl-0")))
        {
            using (Html.UI().Begin(new RoutedLink(Url.RouteUrl("RoleAdd")).AddClass("mb-1")))
            {
                <i class="fas fa-plus-square"></i>
                <span>Nowa rola</span>
            }
        }
    }

}

@using (Html.UI().Begin(new Box().AddClass("container-fluid mb-4")))
{
    using (Html.UI().Begin(new RowBox()))
    {
        using (Html.UI().Begin(new ColBox().AddClass("text-center outer-wrapper")))
        {
            using (Html.UI().Begin(new Box().Id("tb1").AddClass("scrollbar-inner")))
            {

                using (Html.BeginForm(null, null, FormMethod.Get))
                {
                    @Html.HiddenFor(m => Model.Page);
                    @Html.HiddenFor(m => Model.PropertyName);
                    @Html.HiddenFor(m => Model.SortOrder);
                    @Html.HiddenFor(m => Model.Search);

                    @(Html.UI().StdTable<RoleModel>(Model)
                            .Pagination()
                            .Id("roletable")
                            .Title("Role w aplikacji")
                            .Column(m => m.Name, displayName: "Nazwa roli")
                            .Column(m => m.Description, isSortable: true, displayName: "Opis")
                            .Column(m => m.DateCreated, displayName: "Data utworzenia", format: "{0:yyyy-MM-dd}", isSortable: true)
                            .Column(m => m.DateModified, displayName: "Data modyfikacji", format: "{0:yyyy-MM-dd}", isSortable: true)
                            .ForEachColumn(editLink, null, false, "Edycja", m => m.RowGuid)
                            .ForEachColumn(deleteLink, null, false, "Usuń", m => m.RowGuid)
                            .Sortable()
                            .Searchable("Nazwa", "Opis"));

                };


            }
        }
    }
}

<hr />

<div style="background-color:aquamarine; padding:50px;">

</div>


@using (Html.UI().Begin(new Container(ContainerType.Standard)))
{
    using (Html.UI().Begin(new RowBox()))
    {
        using (Html.UI().Begin(new ColBox()))
        {

            @(
                                        Html.UI().Popup()
                                        .Id("wppopup")
                                        .Title("Zasób")
                                        .Size(PopupSize.Large)
            )


        }
    }
}



