﻿@model IEnumerable<string>
@{
    Layout = null;
}

@using (Html.UI().Begin(new Container(ContainerType.Standard)))
{
    using (Html.UI().Begin(new RowBox()))
    {
        using (Html.UI().Begin(new ColBox()))
        {

            <ul>
                @foreach (var item in Model)
                {
                    <li>
                        @item
                    </li>
                }
            </ul>
        

        }
    }
}

