﻿@model WebPlatform.ViewModels.Administration.User.UserViewModel

@{
    ViewBag.Title = "TestAutocomplete";
}

<h2>TestAutocomplete</h2>


@using (Html.BeginForm())
{
    using (Html.UI().Begin(new Container()))
    {
        using (Html.UI().Begin(new RowBox()))
        {
            using (Html.UI().Begin(new ColBox(4, 4)))
            {
                using (Html.UI().Begin(new Box().AddClass("ui-widget")))
                {
                    using (Html.UI().Begin(new Box()))
                    {
                        <label for="tags">Tags: </label>
                    }
                    using (Html.UI().Begin(new Box()))
                    {
                        @(
                                    Html.UI().AutoComplete()
                                    .Url("/test/testautocompleteJson")
                                    .Id("Email")
                        )
                    }
                }
            }
        }
    }

    <hr />

    using (Html.UI().Begin(new Container()))
    {
        using (Html.UI().Begin(new RowBox()))
        {
            using (Html.UI().Begin(new ColBox(4, 4)))
            {
                using (Html.UI().Begin(new Box().AddClass("ui-widget")))
                {
                    using (Html.UI().Begin(new Box()))
                    {
                        <label for="users">Użytkownicy: </label>
                    }
                    using (Html.UI().Begin(new Box()))
                    {
                        @*@Html.TextBox("UserName_Fake1", null, new { @data_autocomplete = "/test/testautocompleteJson2", data_width = "300" })
                            @Html.Hidden("UserName1")*@
                        @(
                                    Html.UI().AutoComplete()
                                    .Url("/test/testautocompleteJson2")
                                    .Id("UserName")
                        )
                    }
                }
            }
        }
    }


    using (Html.UI().Begin(new RowBox()))
    {
        using (Html.UI().Begin(new ColBox()))
        {
            <button id="sender" value="Wyślij" name="Sender">Wyślij</button>
        }
    }

}




@section scripts {

    <script>




    </script>

}

