﻿@model WebPlatform.ViewModels.Administration.User.UserViewModel

@{
    ViewBag.Title = "Usuwanie użytkownika";
    Layout = null;
}

@using (Html.UI().Begin(new Container(ContainerType.Standard)))
{
    using (Html.UI().Begin(new RowBox().AddClass("text-center")))
    {
        using (Html.UI().Begin(new ColBox(12).AddClass("pr-0 pl-0")))
        {
            using (Html.UI().Begin(new HBox(HeaderSize.H4)))
            {
                <i class="fas fa-user-plus"></i>
                <span>@ViewBag.Title</span>
            }
        }
    }

}

@using (Html.UI().Begin(new Container(ContainerType.Standard)))
{
    using (Html.UI().Begin(new RowBox()))
    {
        using (Html.UI().Begin(new ColBox(offset: 4, size: 4).AddClass("pr-0 pl-0")))
        {

            using (Html.UI().Begin(new Box()))
            {
                <span>
                    Użytkownik:
                </span>
                @Model.UserName
            }
            using (Html.UI().Begin(new Box()))
            {
                <span>
                    Użytkownik:
                </span>
                @Model.Email
            }



        }
    }

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Usuń" class="btn btn-default" /> |
        <a class="btn btn-default" href="javascript:ClosePopupSilently();">Powrót do listy</a>
    </div>
}

