﻿
@using WebPlatform.ViewModels.Administration.User
@model WebPlatform.ViewModels.Administration.User.UserViewModel

@{ 
    string editLink = "<a class='btn btn-default' href='/uzytkownik-edycja/{0}'>Edycja</a>";
    string deleteLink = new PopupTrigger("#wppopup").Title("Usuń").Url("/uzytkownik-usuwanie/{0}").ToString();
    string activateLink = new PopupTrigger("#wppopup").Title("Przywróć").Url("/uzytkownik-aktywacja/{0}").ToString();
    string addRolesLink = new PopupTrigger("#wppopup").Title("Role").Url("/role-uzytkownicy-dodawanie/{0}").ToString();
}


@using (Html.UI().Begin(new Box().AddClass("container-fluid mb-4")))
{
    using (Html.UI().Begin(new RowBox()))
    {
        using (Html.UI().Begin(new ColBox().AddClass("text-center outer-wrapper")))
        {
            using (Html.UI().Begin(new Box().Id("tb1").AddClass("scrollbar-inner")))
            {

                using (Html.BeginForm(null, null, FormMethod.Get))
                {
                    @Html.HiddenFor(m => Model.Page);
                    @Html.HiddenFor(m => Model.PropertyName);
                    @Html.HiddenFor(m => Model.SortOrder);
                    @Html.HiddenFor(m => Model.Search);

                    @(Html.UI().StdTable<UserModel>(Model)
                    .Id("userTable")
                    .Pagination()
                    .Title("Lista aktywnych użytkowników")
                    .Column(m => m.Email, displayName: "Email", isSortable: true)
                    .Column(m => m.UserName, displayName: "Nazwa uzytkownika")
                    .Column(m => m.DateCreated, displayName: "Data utworzenia", format: "{0:yyyy-MM-dd}")
                    .Column(m => m.DateModified, displayName: "Data modyfikacji", format: "{0:yyyy-MM-dd}")
                    .Sortable()
                    .Searchable("Email")
                    .ForEachColumn(editLink, null, false, "Edycja", m => m.RowGuid)
                    .ForEachColumn(deleteLink, null, false, "Usuń", m => m.RowGuid)
                    .ForEachColumn(activateLink, null, false, "Przywróć", m => m.RowGuid)
                    );


                };


            }
        }
    }
}

@using (Html.UI().Begin(new Container(ContainerType.Standard)))
{
    using (Html.UI().Begin(new RowBox()))
    {
        using (Html.UI().Begin(new ColBox()))
        {

            @(
                        Html.UI().Popup()
                        .Id("wppopup")
                        .Title("Użytkownik dodanie roli")
                        .Size(PopupSize.Large)
            )


        }
    }
}

