﻿@using WebPlatform.Models
@model LoginViewModel
@{
    ViewBag.Title = "Zaloguj";
    Layout = "~/Views/Shared/_LayoutUnlogged.cshtml";
}

<div class="row">
    <div class="col-6 offset-6 right-info">
        In hac habitasse platea dictumst. Ut eget velit scelerisque, blandit felis at, lobortis sem. Aliquam volutpat tellus vitae maximus consectetur. Maecenas dignissim in turpis ut placerat. Integer sit amet maximus ex. Donec eget enim sodales ex ornare venenatis. Integer eu tortor non dui sollicitudin efficitur quis non elit. Etiam eu sapien tempus, tempus magna vitae, pretium sapien. Phasellus vulputate mi volutpat nulla pellentesque bibendum. In lobortis massa vitae nunc lacinia sodales.
    </div>
</div>

<div class="row">
    <div class="col-4">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-12">
                        @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                    </div>
                    <div class="col-12">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="col-12">
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    </div>
                    <div class="col-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="col-12">
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>


                @*<div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>*@

                <div class="row">
                    <div class="col-12 mt-1">
                        <input type="submit" value="Zaloguj" class="btn btn-default" />
                    </div>
                </div>

                <p>
                        @Html.ActionLink("Zarejestruj się jako nowy użytkownik", "Register")
                    </p>
                @* Włącz to ustawienie po włączeniu potwierdzenia konta dla funkcji resetowania hasła
                    <p>
                        @Html.ActionLink("Nie pamiętasz hasła?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>

    <div class="col-4">

    </div>

    


    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}