﻿
@using WebPlatform.ViewModels.Administration
@model WebPlatform.ViewModels.Administration.MenuItem.MenuItemViewModel



@helper RenderItems(MenuItemModel parent)
{

    if (parent.Items.Any())
    {
        <li>
            <div class="trigger" data-trigger="@parent.Id">
                <p>
                    <i class="fas fa-caret-down" data-ico="@parent.Id"></i>
                    @parent.Title
                </p>
            </div>
            <ul class="trigger-list element-hidden" data-trigger="@parent.Id">
                @foreach (var item in parent.Items)
                {
                    @RenderItems(item);
                }

            </ul>
        </li>


    }
    else
    {

        <li>
            <div>
                <p>
                    <i class="fas fa-arrow-right"></i>
                    <a title="@parent.Title" href="@parent.RouteUrl">@parent.Title</a>
                </p>
            </div>

        </li>
    }

}

<div class="accordion-fix-dummy"></div>
<div class="accordion">

    <div class="accordion-fix">
        Menu
    </div>
    <div>

        <div id="slick-wrapper">

            <div id="prevSlickArrow">
                <a href="#">
                    <i class="far fa-arrow-alt-circle-left"></i>
                </a>
            </div>
            <div id="nextSlickArrow">
                <a href="#">
                    <i class="far fa-arrow-alt-circle-right"></i>
                </a>
            </div>
            <div class="ribbon-carousel-slick">


                @foreach (var box in Model.Elements)
                {

                    <div class="ribbon-item-box d-flex justify-content-center align-items-stretch p-2">
                        <div class="ribbon-item hvr-glow">
                            <div class="ribbon-item-img text-center" style="background-image: url(@box.ImageUrl)">
                                <div>
                                    <h3>
                                        @box.Title
                                    </h3>
                                </div>
                            </div>
                            <div class="ribbon-item-content hvr-underline-from-center">
                                <ul style="margin:0.2em;">
                                    @foreach (var item in box.Items)
                                    {
                                        @RenderItems(item);
                                    }

                                </ul>
                            </div>
                        </div>

                    </div>

                }


            </div>



        </div>


    </div>
</div>


