﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">
</head>
<body>

    <script>

        // globals

        var accordionState = { open: 0 };

    </script>

    <section class="container-fluid" id="top-navbar">
        <div class="row">
            <div class="col-10 offset-2">
                <div class="row" id="top-navbar-box">
                    <div class="col-2">
                        @Html.ActionLink("Panel", "Index", "Panel")
                        
                    </div>
                    <div class="col-2">
                       
                        
                    </div>
                    <div class="col-2">
                        
                    </div>
                    <div class="col-4">
                        @Html.Partial("_LoginPartial")
                    </div>
                    
                   
                </div>
            </div>
        </div>

    </section>

    <section class="container-fluid" id="ribbon-box">
        @Html.Action("ListItems", "Menu")
    </section>


    <section id="content-box" class="container-fluid">
        @RenderBody()
    </section>

    

    <section id="logged-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    Kolumna lewa
                </div>
                <div class="col text-center">
                    Kolumna prawa
                </div>
            </div>
        </div>
    </section>

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {

            var ribbon = $("#ribbon-box");
            var footer = $("#logged-footer");
            var docHeight = $(document).height();
            var footerHeight = footer.height();
            var ribbonHeight = ribbon.height();
            var footerTop = footer.position().top + footerHeight;

            if (footerTop < docHeight) {
                footer.css('margin-top', 10 + (docHeight - footerTop + ribbonHeight) + 'px');
            }
                
        });
    </script>

</body>
</html>
