﻿@using Microsoft.AspNet.Identity



@if (Request.IsAuthenticated)
{


    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-6">


                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </div>
            <div class="col-6">
                <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
            </div>
        </div>

    }
}
else
{
    <div class="row">
        <div class="col-6">
            @Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </div>
        <div class="col-6">
            @Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </div>
    </div>

}




